<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-BR">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Megasenha - Outro</title>

	<link rel="stylesheet" type="text/css" href="/public/css/style.css" />
</head>
<body>

	<h1>Megasenha - Outro</h1>

	<!--
		Referência sobre jQuery.ajax
		https://api.jquery.com/jquery.ajax/

		Referências sobre jQuery Validate 1.19
		https://jqueryvalidation.org/documentation/
		https://jqueryvalidation.org/documentation/#link-list-of-built-in-validation-methods
		https://jqueryvalidation.org/validate/
		https://jqueryvalidation.org/reference/

		Referências sobre socket.io no cliente
		https://socket.io/docs/v4/client-initialization/
	-->
	<script type="text/javascript" src="/public/libs/jquery/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/public/libs/validate/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/public/libs/validate/additional-methods.min.js"></script>
	<script type="text/javascript" src="/public/libs/validate/localization/messages_pt_BR.min.js"></script>
	<script type="text/javascript" src="/public/libs/socket.io/socket.io.min.js"></script>
</body>
</html>
