body {
	background-color: black;
	color: white;
}

header {
	padding: 10px;
	height: 20vh;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}


nav {
	position: absolute;
	top: 5vh;
	right: 2vw;
}

nav li {
	display: inline;
	margin: 0 0 0 50px;
}

nav a {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

main {
	padding: 0px;
	font-size: 18px;
	text-align: center;
}

.nome{
	color: cornflowerblue;
	padding: 5px;
}

#tela {
	border: double 5px;
	width: 60vw;
	height: 65vh;
	margin: 0 auto;
}
#tela2 {
	border: double 5px;
	width: 60vw;
	height: 118vh;
	margin: 0 auto;
}

.topo {
	height: 30%;
	font-size: 32px;
	padding: 20px;
}

.topo div{
	padding: 10px;
	height: 5vw;
	min-width: 15vw;
	max-width: 30vw;
}

.Acertos {
	float: left;
	display: inline-block;
	border: solid cornflowerblue;
}

.Palavra {
	float: center;
	display: inline-block;
	border: solid cornflowerblue;
}

.Timer {
	float: right;
	display: inline-block;
	border: solid cornflowerblue;
}

.meio{
	height: 25%;
	margin: 0 auto;
	padding: 10px;
}

.meio input {
	color: black;
	height: 20vh;
	font-size: 24px;
	text-align: center;
	margin: 30px;
	box-sizing: border-box;

}

.base{
	height: 40%;
	margin: 0 auto;
	padding: 10px;

	color: #a8883d;
	text-transform: uppercase;
	font-weight: bold;
}

.base li {
	display: inline-block;
	padding-top: 10vh;
	margin: 50px;
}

nav a {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}



